
body {
  height: auto;

  
  margin: 0rem;
  overflow-x: hidden;
  
}

.container-fluid {
    position: relative;
    text-align: center;
    color: white;
    padding: 0%;
    margin-bottom: 100px;
    width: 100%;
  }

  .top-left {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: white;
  }
  
 

  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 200px;
  }

  .btn{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; 
  }

  h1{
    text-align: center;
  }
 p{
  margin: 25px 20% 50px 20%;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 50%;
  top: 200px;
  transform: translate(0%, -50%); 
  user-select: none;
  padding: 100px 100px 100px 100px;
  
}



#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.fish-con{
  position: relative;
  text-align: center;
  color: black;
}

.fish-con .centered{
  font-size: 30px;
}
 
  

