.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 0%;
  }

  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    padding-top: 5%;
    padding-left: 10px;
  }




h1 {
    text-align: center;
    color: red;
}